@import 'variables';
@import 'custom-bootstrap';

.selling-point {
  margin: auto;
  width: 100%;
  max-height: 8rem;
  path {
    fill: $primary;
  }
}

.text-color {
  color: currentColor;
}

.font-icon {
  fill: currentColor;
  height: 1.2em;
}

.text-center-left-md {
  text-align: center;
  @include media-breakpoint-up(md) {
    text-align: left;
  }
}
.text-center-right-md {
  text-align: center;
  @include media-breakpoint-up(md) {
    text-align: right;
  }
}
