@import 'variables';

@import '~bootstrap/scss/bootstrap.scss';

.brand-font {
  font-family: 'FetteEgyptienne', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.3;
}

.img-square-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-size: cover;
  border: #fff solid 2px;
  margin: 4px;
  border-radius: .3rem;
}
