@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import 'variables';
@import 'custom-bootstrap';

.selling-point {
  margin: auto;
  width: 100%;
  max-height: 8rem;
  path {
    fill: $primary;
  }
}

.text-color {
  color: currentColor;
}
